* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }

  body{
    background-color: rgb(206, 223, 234);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
  

img {
    width: 85%;
    border-radius: 2.5%;
    margin-top: 7%;
    
  }

  .Container {
     margin: 120px auto;
    width: 317px;
    background-color: #ffffff;
    border-radius: 5%;
  }
  
  h1,p{
    text-align: center;
    padding: .7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }

  p{
    font-size: small;
    color: rgb(165, 165, 165);
    padding-bottom: 20px;
  }

  h1{
    font-size: 20px;
  }

 